<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Time1:</strong>
  <%= @event.time1 %>
</p>

<p>
  <strong>Time2:</strong>
  <%= @event.time2 %>
</p>

<p>
  <strong>Details:</strong>
  <%= @event.details %>
</p>

<p>
  <strong>Calendar:</strong>
  <%= @event.calendar_id %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
